* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../小项目/imag/watercolor-1336856.jpg) center no-repeat;
  background-size: cover;
}
body .content {
  height: 330px;
  width: 300px;
  text-align: center;
  line-height: 80px;
}
body .content .top {
  height: 250px;
  border: solid 5px #345678;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}
body .content button {
  width: 150px;
  height: 40px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
}
